.unresponsive, .responsive {
	border: 1px solid black;
	padding: 1em;
	background-color: silver;	
}

.unresponsive {
	width:1000px;
}
.responsive{	
	/*max-width: 1000px;*/
	width:90%;
}

@media screen and (max-width:500px){
	body{
		font-size: 3 em;
	}
}