.unresponsive, .responsive {
	border: 1px solid black;
	padding: 1em;
	background-color: silver;	
}

.unresponsive {
	width:1000px;
}
.responsive{	
	/*max-width: 1000px;*/
	width:90%;
}

body{
	font-size: 1em;
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
	body{
		font-size: 3 em;
		background-color: red;
	}
}