div.intro {
	margin: 0 0 10px 0;
	font-size: 1em;
	line-height: 1.3em;
	}

.landing-feature .button span,.home-feature .button span, .existingCustomerArea .button span {
background:none;
}

.landing .cols-3-alt .span-2plus {
	width: 900px;
}

div.ensurewhite {color:#ffffff;}

.site-links h2 a {
	color: #585858;
	text-decoration: none;
}